<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset "vendor/bootstrap/dist/css/bootstrap.min.css" }}">
    <link rel="stylesheet" href="{{ asset "vendor/font-awesome/css/font-awesome.min.css"}}">
    <link rel="stylesheet" href="{{ asset "vendor/air-datepicker/dist/css/datepicker.min.css" }}">
    <link rel="stylesheet" href="{{ asset "css/main.css" }}">
  </head>
  <body>
      <nav id="topbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="{{urlpath "Home"}}">BOLSILLO</a> <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler d-lg-none" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input aria-label="Search" class="form-control form-control-sm mr-sm-2" placeholder="Search" type="text"> <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="container-fluid">
          <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link{{active (urlpath "Home") .URI}}" href="{{urlpath "Home"}}">Dashboard<span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link{{active (urlpath "ListInvoices") .URI}}" href="{{urlpath "ListInvoices"}}">Invoices</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{{active (urlpath "ListTransactions") .URI}}" href="{{urlpath "ListTransactions"}}">Transactions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{{active (urlpath "EditTransaction" "0") .URI}}" href="{{urlpath "EditTransaction" "0"}}">&#9492; New</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">&#9492; Expenses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">&#9492; Income</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">&#9492; Recurring</a>
                </li>
              </ul>
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Tags</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Units</a>
                </li>
              </ul>
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{active (urlpath "EditTransaction" "0") .URI}}" href="{{urlpath "EditTransaction" "0"}}">&#9492; Report1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{active (urlpath "EditTransaction" "0") .URI}}" href="{{urlpath "EditTransaction" "0"}}">&#9492; Report2</a>
                </li>
              </ul>
            </nav>
            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
              <div>
                <a class="btn btn-link d-md-none d-sm-none p-0" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                </a>
              </div>
              <div class="collapse" id="collapseExample">
                <!--<div class="card card-body d-md-none d-sm-none p-0">-->
                    <nav class="d-md-none d-sm-none p-0 bg-light">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Reports</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Analytics</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Export</a>
                        </li>
                      </ul>
                      <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="#">Nav item</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Nav item again</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">One more nav</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Another nav item</a>
                        </li>
                      </ul>
                      <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="#">Nav item again</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">One more nav</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Another nav item</a>
                        </li>
                      </ul>
                <!--</div>-->
                    </nav>
              </div>
              {{ yield }}
            </main>
          </div>
        </div>
        <script src="{{ asset "vendor/jquery/dist/jquery.slim.min.js" }}"></script>
        <script src="{{ asset "vendor/popper.js/dist/umd/popper.min.js" }}"></script>
        <script src="{{ asset "vendor/bootstrap/dist/js/bootstrap.min.js" }}"></script>
        <script src="{{ asset "vendor/air-datepicker/dist/js/datepicker.min.js" }}"></script>
        <script src="{{ asset "vendor/air-datepicker/dist/js/i18n/datepicker.en.js" }}"></script>
        <script src="{{ asset "js/main.js" }}"></script>
        {{ template "js" .}}
  </body>
  </body>
</html>
