{{define "css"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.date.css">
{{end}}
{{define "js"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/legacy.js"></script>
<script src="{{ js "datepicker.js" }}"></script>
<script src="{{ js "tags.js" }}"></script>
{{end}}
<h1>New Transaction</h1>
<form>
    <div class="form-row">
        <div class="col-5">
            <div class="form-group">
                <label class="form-control-label" for="formGroupExampleInput">Description</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="form-group">
                <div style="position: relative">
                    <label class="form-control-label" for="formGroupExampleInput2">Date</label>
                    <input type="text" class="form-control datepicker" id="formGroupExampleInput2" placeholder="{{ date now "2 January, 2006" }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>GET
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> PUT
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> TAX
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 pl-0">
                    <label class="form-control-label" for="formGroupExampleInput">Quantity</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1">
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="formGroupExampleInput">Unit</label><br>
                <select class="custom-select for-control">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-3 pl-0">
                    <label class="form-control-label" for="formGroupExampleInput">Total Price</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="0.00">
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Unit price</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            
            <div class="form-group">
                <a class="form-control-label">
                    Tags
                </a>
                <div>
                    {{ range $_, $_ := .Tags }}
                        <span class="tag badge badge-light">{{ .Tag }}</span>
                    {{ end }}
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlTextarea1">Note</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
    </div>
</form>

