{{define "css"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.date.css">
{{end}}
{{define "js"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/legacy.js"></script>
<script src="{{ js "datepicker.js" }}"></script>
<script src="{{ js "tags.js" }}"></script>
{{end}}
<h1>New Transaction</h1>
<form method="post" action="{{.URI}}">
    <input id="tags" type="hidden" name="Tags" value="[]">
    <input id="id" type="hidden" name="ID" value="0">
    <div class="form-row">
        <div class="col-5">
            <div class="form-group">
                <label class="form-control-label" for="description">Description</label>
                <input type="text" class="form-control" id="description" name="Description" placeholder="Description" value="">
            </div>
            <div class="form-group">
                <div style="position: relative">
                    <label class="form-control-label" for="date">Date</label>
                    <input type="text" class="form-control datepicker" id="date" name="Date" placeholder="{{ date now "02 January, 2006" }}" value="{{ date now "02 January, 2006" }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-sm btn-danger active">
                        <input type="radio" id="type" name="Type" autocomplete="off" value="GET" checked> GET
                    </label>
                    <label class="btn btn-sm btn-danger">
                        <input type="radio" id="type-put" name="Type" autocomplete="off" value="PUT"> PUT
                    </label>
                    <label class="btn btn-sm btn-danger">
                        <input type="radio" id="type-tax" name="Type" autocomplete="off" value="TAX"> TAX
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 pl-0">
                    <label class="form-control-label" for="quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" name="Quantity" placeholder="1">
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="unit">Unit</label><br>
                <select class="custom-select for-control" id="unit" name="Unit">
                    <option value="0" selected>Select one item</option>
                    {{ range $_, $_ := .Units }}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{ end }}
                </select>
            </div>
            <div class="form-group">
                <div class="col-3 pl-0">
                    <label class="form-control-label" for="TotalPrice">Total Price</label>
                    <input type="text" class="form-control" id="TotalPrice" name="TotalPrice" placeholder="0.00">
                </div>
                <br>
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Unit price</h4>
                        <h5 class="card-text"><span class="icon-attach_money"></span><span id="unit-price">0.00</span></h5>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a class="form-control-label">
                    Tags
                </a>
                <div>
                    {{ range $_, $_ := .Tags }}
                        <span id="{{.ID}}" class="tag badge badge-light" style="cursor: pointer;">&nbsp;{{.Tag}}&nbsp;</span>
                    {{ end }}
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="note">Note</label>
                <textarea class="form-control" id="note" name="Note" rows="2"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-sm"><span class="icon-floppy-disk"></span> Save</button>
                <button type="submit" class="btn btn-success btn-sm"><span class="icon-drive"></span> Save & Insert</button>
            </div>
        </div>
    </div>
</form>

