@import url('https://fonts.googleapis.com/css?family=Yantramanav');
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-size: 1rem;
  font-family: 'Yantramanav', sans-serif;
  color: #666666
}

/*
* Typography
*/

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
* Dashboard
*/

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.form-control,
.btn,
/*.badge,*/
.card {
  border-radius: 0;
}

.table td {
  vertical-align: middle;
}

table#transactions thead th:nth-child(3),
table#transactions tbody td:nth-child(3) {
  /*width: 5%;*/
  text-align: center;
}

table#invoices thead th:nth-child(4),
table#invoices tbody td:nth-child(4) {
  text-align: center;
}

.btn-group .btn {
  cursor: pointer;
  _cursor: hand;
}

.btn-group .active::after  {
  content: "✔"
}

.btn-group .focus {
  box-shadow: none;
}

ul.focus {
  border-color: #80bdff !important;
}

.flexdatalist-multiple {
  width: 100%;
  padding: .1rem .2rem;
  font-size: .75rem;
  color: #495057;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0,0,0,.15);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: none;
}

.flexdatalist-multiple:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff !important;
  outline: none;
}

.flexdatalist-multiple li.value {
    background: #17a2b8;
    color: #fff;
    display: inline-block;
    font-size: 100%;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.info {
  font-size: 0.8rem;
}
